* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: #ffffff;
}
.page-container {
  text-align: center;
  margin: auto;
  margin-top: 20px 0 0 0;
}
.page-container h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination a {
  color: #333333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid #cccccc;
  transition: background-color 0.7s;
}
.pagination a.current {
  background-color: #ffc800;
  color: #ffffff;
}
.pagination a:hover:not(.current) {
  background-color: #000;
  color: #ffffff;
  transition: 1s;
}
.prev,
.next {
  font-size: 1, 5rem;
}
